 <mat-card class="main-calculator-card">
      <mat-card-header>
        <mat-card-title>נתוני העסקה</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="salaryForm" class="form-container" (ngSubmit)="onSubmit()">

          <div class="input-grid">
            <!-- חלקיות משרה -->
            <mat-form-field appearance="outline" class="custom-field">
              <mat-label>חלקיות משרה</mat-label>
              <mat-select formControlName="percentage">
                <mat-option [value]="100">100% (משרה מלאה)</mat-option>
                <mat-option [value]="75">75% (3/4 משרה)</mat-option>
                <mat-option [value]="50">50% (חצי משרה)</mat-option>
              </mat-select>
              <mat-icon matSuffix>pie_chart</mat-icon>
            </mat-form-field>

            <!-- רמה מקצועית -->
            <mat-form-field appearance="outline" class="custom-field">
              <mat-label>רמה מקצועית</mat-label>
              <mat-select formControlName="profLevel">
                <mat-option [value]="ProfLevel.junior">מתחיל</mat-option>
                <mat-option [value]="ProfLevel.experienced">מנוסה</mat-option>
              </mat-select>
              <mat-icon matSuffix>engineering</mat-icon>
            </mat-form-field>

            <!-- רמה ניהולית -->
            <mat-form-field appearance="outline" class="custom-field">
              <mat-label>רמה ניהולית</mat-label>
              <mat-select formControlName="adminLevel">
                <mat-option [value]="0">ללא תפקיד ניהולי</mat-option>
                <mat-option [value]="1">רמת ניהול 1</mat-option>
                <mat-option [value]="2">רמת ניהול 2</mat-option>
                <mat-option [value]="3">רמת ניהול 3</mat-option>
                <mat-option [value]="4">רמת ניהול 4</mat-option>
              </mat-select>
              <mat-icon matSuffix>military_tech</mat-icon>
            </mat-form-field>

            <!-- ותק -->
            <mat-form-field appearance="outline" class="custom-field">
              <mat-label>שנות ותק</mat-label>
              <input matInput type="number" formControlName="seniority">
              <mat-icon matSuffix>history</mat-icon>

              <!--  הודעות שגיאה לשדה ותק -->
              <mat-error *ngIf="salaryForm.get('seniority')?.hasError('max')">
                מקסימום 50 שנים
              </mat-error>
              <mat-error *ngIf="salaryForm.get('seniority')?.hasError('min')">
                מינימום 0 שנים
              </mat-error>
              <mat-error *ngIf="salaryForm.get('seniority')?.hasError('required')">
                שדה חובה
              </mat-error>
            </mat-form-field>
          </div>

          <!-- זכאות בחוק -->
          <div class="extra-options-panel">
            <div class="toggle-row">
              <div class="toggle-info">
                <span class="toggle-title">זכאות לתוספת עבודה בחוק</span>
                <span class="toggle-sub">תוספת ייחודית בגין מינוי רשמי</span>
              </div>
              <mat-slide-toggle formControlName="eligibleForLaw" color="primary"
                class="modern-toggle"></mat-slide-toggle>
            </div>

            <div class="radio-group-container" *ngIf="salaryForm.get('eligibleForLaw')?.value">
              <label>בחר קבוצת שיוך:</label>
              <mat-radio-group formControlName="bonusGroup">
                <mat-radio-button [value]="BonusGroup.groupA" color="primary">קבוצה א'</mat-radio-button>
                <mat-radio-button [value]="BonusGroup.groupB" color="primary">קבוצה ב'</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="action-bar">
            <button mat-flat-button class="calculate-btn" type="submit" [disabled]="!salaryForm.valid" (click)="submitCalculation.emit()">
              חשב את השכר שלי
              <mat-icon>analytics</mat-icon>
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>