
.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; 
  gap: 15px;
  direction: rtl;
}

::ng-deep .mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-width: 6px;
}

::ng-deep mat-progress-spinner {
  display: block !important;
  width: 50px !important;
  height: 50px !important;
}

::ng-deep .mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--primary); 
}


.page-footer {
  text-align: center;
  padding-top: 60px;
  color: var(--text-muted);
  font-size: 0.9rem;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}